@model List<LicencaViewModel>

<a href="/licenca/Create" class="btn btn-success">Nova licença</a>
<br />
<br />
<table class="table table-striped table-responsive">
    <tr>
        <th>Ações</th>
        <th>Id</th>
        <th>Nome da licença</th>
        <th>Requisitos do sistema</th>
        <th>Valor</th>
    </tr>

    @foreach (var c in Model)
    {
        <tr>
            <td>
                <a href="/licenca/edit?id=@c.Id">✍🏻</a>
                <a href="javascript:apagarLicenca(@c.Id)">💣</a>
            </td>
            <td>@c.Id</td>
            <td>@c.NomeLicenca</td>
            <td>@c.RequisitosSistema</td>
            <td>@c.Valor</td>
        </tr>
    }
</table>
