@model List<UsuarioViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="/usuario/Create" class="btn btn-success">Novo usuário</a>
<br />
<br />
<table class="table table-striped table-responsive">
    <tr>
        <th>Ações</th>
        <th>Id</th>
        <th>Nível de Acesso</th>
        <th>Perfil do usuário</th>
        <th>CPF</th>
        <th>Data de nascimento</th>
        <th>Email</th>
    </tr>

    @foreach (var c in Model)
    {
        <tr>
            <td>
                <a href="/usuario/edit?id=@c.Id">✍🏻</a>
                <a href="javascript:apagarUsuario(@c.Id)">💣</a>
            </td>
            <td>@c.Id</td>
            <td>@c.NivelAcesso</td>
            <td>@c.PerfilUsuario</td>
            <td>@c.Cpf</td>
            <td>@c.DataNascimento</td>
            <td>@c.Email</td>
        </tr>
    }
</table>
