@model List<FornecedorViewModel>

<a href="/fornecedor/Create" class="btn btn-success">Novo fornecedor</a>
<br />
<br />
<table class="table table-striped table-responsive">
    <tr>
        <th>Ações</th>
        <th>Id</th>
        <th>Nome</th>
        <th>CNPJ</th>
        <th>Email</th>
    </tr>

    @foreach (var fornecedor in Model)
    {
        <tr>
            <td>
                <a href="/fornecedor/edit?id=@fornecedor.Id">✍🏻</a>
                <a href="javascript:apagarFornecedor(@fornecedor.Id)">💣</a>
            </td>
            <td>@fornecedor.Id</td>
            <td>@fornecedor.Nome</td>
            <td>@fornecedor.Cnpj</td>
            <td>@fornecedor.Email</td>
        </tr>
    }
</table>
